
a {
	color: #CC0000;
	text-decoration: none;
}

@font-face {
	font-family: DancingScript;
	src: url('/fonts/Dancing-Script.otf');
	src: url('/fonts/Dancing-Script.ttf');
	font-weight: 200;
}

@font-face {
	font-family: ElegantHandwriting;
	src: url('/fonts/elegant/JandaElegantHandwriting.ttf');
	font-weight: normal;
}

p {
	margin: 0;
}

body {
margin: 0;
font-family: 'Allura' cursive;

}

.container {
background-image: url("/images/dev-images/bedge_grunge.png");
height: auto;
font-weight: normal;
}

	header {
	height: auto;
	}

	.signature {
	font-family: 'Allura', cursive;
	font-size: 50px;
	font-weight: normal;
	display: inline;
	}

	#top-nav {
	float: right;
	margin-right: 5%;
	display: inline-block;
	}
		#top-nav a:hover {
			color: #CC0000 !important;
		}

	.tns{	
	font-family: 'Allura', cursive;
	font-size: 50px;	
	text-decoration: none;
	color: black !important;
	height: 30px;
	width:40px;
	margin-right: 15px;
	}


	
	.tns:nth-child(4) {
	border: none;
	margin: 0;
	}

	.main {
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	max-width: 100%;
	text-align: center;
	font-family: 'Allura', cursive;
	clear: both;
	}

	.quick-look-wrap{
		margin: 2% 0 0 0;
		background-image: url('/images/dev-images/pattern-bv5m.png');
		-moz-box-shadow:inset 1px 4px 16px #2e2e2e;
		-webkit-box-shadow:inset 1px 4px 16px #2e2e2e;
		box-shadow:inset 1px 4px 16px #2e2e2e;

	}
	.quick-look {
		margin-left: 2%;
		margin-right: 2%;
		display: inline-block;
		vertical-align: top;
		text-align: left;
		font-size: 24px;
		padding: 15px;
		border-radius: 5px;
	}

	.quick-look > .signature {
		font-family: 'Allura', cursive;
		text-shadow: 0px 1px 0px rgba(0, 0, 0, .5);
		font-size: 54px;
		display: inline-block;
		margin: 5px;
	}



	.q-l-c {
		margin-top: -25px;
	}

	.contact-phone a{
		color: #CC0000;
	}

	.contact-phone:before {
		content: "Phone number: ";
		color: black;
	}

	.contact-email {
		color: #CC0000;
	}

	.contact-email:before {
		content:"E-mail: ";
		color: black;
	}

	.thumbnail-wrap {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	padding-top: 5%;
	}

		.portfolio-thumbnail {
		background-color: #ffdeb5;
		padding: 2px;
		height: 200px;
		width: 300px;
		border: 1px;
		display: inline-block;
		opacity: 0.95;
		margin: 3% 5% 3% 5%;
		vertical-align: top;
		text-align: left;
		-moz-box-shadow: 0px 10px 47px #000000;
		-webkit-box-shadow: 0px 10px 47px #000000;
		box-shadow: 0px 10px 47px #000000;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-filter: grayscale(100%);
		-webkit-animation: colortoblack;
		-webkit-animation-duration: .5s;
		-webkit-animation-timing-function: ease-in;
		-webkit-filter: grayscale(100%);
		}
		.portfolio-thumbnail img {
		height: 100%;
		width: 100%;
		}

						@-webkit-keyframes colortoblack {

					from {

						-webkit-filter: grayscale(0%);
					}
					to {

						-webkit-filter: grayscale(100%);

					}

				}
		
		.portfolio-thumbnail:hover {
		opacity: 1;
    	-moz-box-shadow: 0px 10px 54px #000000;
    	-webkit-box-shadow: 0px 10px 54px #000000;
		box-shadow: 0px 10px 54px #000000;
		-webkit-animation: blacktocolor;
		-webkit-animation-duration: .5s;
		-webkit-animation-timing-function: ease-in;
		-webkit-filter: grayscale(0%);
		}
		
				@-webkit-keyframes blacktocolor {

					from {

						-webkit-filter: grayscale(100%);
					}
					to {

						-webkit-filter: grayscale(0%);

					}

				}
				
		.portfolio-thumbnail:hover> span {

			-webkit-animation: marginslide;
			-webkit-animation-duration: .5s;
			-webkit-animation-timing-function: ease-out;
			animation: blacktored;
			animation-duration: .5s;
			animation-timing-function: ease-out;
			-moz-animation: blacktored;
			-moz-animation-duration: .5s;
			-moz-animation-timing-function: ease-out;
			-o-animation: marginslide;
			-o-animation-duration: .5s;
			-o-animation-timing-function: ease-out;									
			margin-top: -250px;
		}

			@-webkit-keyframes marginslide {

				from {
					margin-top: -15px;
				}

				to {
					margin-top: -250px;

				}
			}
			@keyframes blacktored {

				from {
					color: #000;
				}

				to {
					color: #CC0000;

				}
			}
			@-moz-keyframes blacktored {

				from {
					color: #000;
				}

				to {
					color: #CC0000;

				}
			}			
			@-o-keyframes marginslide {

				from {
					margin-top: -15px;
				}

				to {
					margin-top: -250px;

				}
			}						

		.portfolio-thumbnail span {
		font-size: 36px;
		font-family: 'Allura', cursive;
		position: relative;
		display: inline-block;
		margin-top: -15px;
	    text-shadow:0px 2px 11px #ffe3ba;
	    -webkit-animation: marginslidedown;
		-webkit-animation-duration: 1s;
		-webkit-animation-timing-function: ease-out;
	    animation: marginslidedown;
		animation-duration: 1s;
		animation-timing-function: ease-out;
	    -moz-animation: redtoblack;
		-moz-animation-duration: 1s;
		-moz-animation-timing-function: ease-out;
	    -o-animation: marginslidedown;
		-o-animation-duration: 1s;
		-o-animation-timing-function: ease-out;

		margin-top: -15px;
		color: #000;
		}

			@-webkit-keyframes marginslidedown {

				from {
					margin-top: -250px;
				}

				to {
					margin-top: -15px;

				}
			}
			@keyframes marginslidedown {

				from {
					margin-top: -250px;
				}

				to {
					margin-top: -15px;

				}
			}	
			@-moz-keyframes redtoblack {
				from {
					color: #CC0000;
				}

				to {
					color: #000;

				}
			}	
			@-o-keyframes marginslidedown {

				from {
					margin-top: -250px;
				}

				to {
					margin-top: -15px;

				}
			}												


		
	.webform {
	height: 800px;
	width: 400px;
	background-color: #ffdeb5;
	display: block;
	border: 1px solid black; 
	}

	.webform span {
	display: inline-block;
	}
		
		textarea {
		resize: none;
		height: 25px;
		width: 300px;
		vertical-align: middle;
		}
		
	footer {
		color: #CC0000;
		font-family: 'Allura', cursive;
		font-size: 24px;
		text-align: center; 
		position: relative;
		background-image: url('/images/dev-images/debut_dark.png');
		min-height: 50px;
		margin-bottom: 0;
		}

		.bottom-nav {
			word-spacing: 15px;
			text-transform: capitalize;
			font-family: 'Allura' cursive;

		}
		.bottom-nav a:hover {
			word-spacing: 25px;
			font-size: 28px;
		}

		.t-handle, .t-handle a {
			color:#CC0000;
			margin:0;
			font-family: 'Allura' cursive;

		}
		.t-handle:before {
			content: "Design by: ";
			color: #fff;
		}




	/*=========================Media Queries====================*/
		@media all and (max-width: 1200px){
		header{
			text-align: center;
		}
		#top-nav {
			float: none;
		}
	}