@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\0000326}}
a {
  color: #CC0000;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\0000329}}
a:visited {
  color: #CC0000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\0000333}}
a:hover {
  color: #cc0000 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\0000337}}
a:active {
  color: #cc0000 !important;
}

@font-face {
  font-family: DancingScript;
  src: url("/fonts/Dancing-Script.otf");
  src: url("/fonts/Dancing-Script.ttf");
  font-weight: 200;
}

@font-face {
  font-family: ElegantHandwriting;
  src: url("/fonts/elegant/JandaElegantHandwriting.ttf");
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\0000356}}
p {
  margin: 0;
  line-height: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\0000361}}
body {
  margin: 0;
  overflow-x: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\0000366}}
label {
  margin: 1% 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\0000371}}
textarea {
  resize: none;
  height: 100px;
  width: 300px;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\0000379}}
input {
  padding: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\0000383}}
h1, h2, h3, h4, h5 {
  font-family: "Josefin Sans", sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\0000387}}
.coming-soon {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\0000392}}
.container {
  background-image: url("/images/dev-images/bedge_grunge.png");
  font-weight: normal;
  min-height: 500px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\0000398}}
header {
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003102}}
.signature {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  font-weight: normal;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003108}}
.signature a {
  color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003113}}
#top-nav {
  float: right;
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003118}}
.tns {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  text-align: left;
  text-decoration: none;
  color: black !important;
  height: 30px;
  width: 40px;
  margin-right: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003129}}
.tns:nth-child(4) {
  border: none;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003134}}
.main {
  margin: 2% auto 0;
  text-align: center;
  min-height: 700px;
  font-family: "Josefin Sans", sans-serif;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003143}}
.quick-look-wrap {
  margin: 2% 0 0 0;
  background-image: url("/images/dev-images/pattern-bv5m.png");
  -moz-box-shadow: inset 1px 4px 16px #2e2e2e;
  -webkit-box-shadow: inset 1px 4px 16px #2e2e2e;
  box-shadow: inset 1px 4px 16px #2e2e2e;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003152}}
.b-card {
  background-image: url("/images/dev-images/norwegian_rose.png");
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 8px 8px 0 inset, rgba(0, 0, 0, 0.3) 0 -8px 8px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 8px 8px 0 inset, rgba(0, 0, 0, 0.3) 0 -8px 8px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 8px 8px 0 inset, rgba(0, 0, 0, 0.3) 0 -8px 8px 0 inset;
  margin: 0 auto 0 auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: black;
  padding: 1%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003161}}
.b-card aside {
  padding: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003163}}
.b-card aside h1 {
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003167}}
.b-card aside p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003174}}
.circular {
  float: left;
  height: 400px;
  width: 400px;
  -webkit-border-radius: 400px;
  -moz-border-radius: 400px;
  border-radius: 400px;
  border-color: black;
  background: url("/images/fe-images/fe-headshot.jpg") no-repeat;
  background-position: center;
  background-size: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  margin: 1em 3em 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003190}}
.quick-look {
  margin-left: 4%;
  margin-right: 4%;
  float: left;
  vertical-align: top;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  text-align: left;
  padding: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003199}}
.quick-look .signature {
  font-family: "Josefin Sans", sans-serif;
  font-size: 54px;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003206}}
.quick-look h1 {
  margin-bottom: 0.5em !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003211}}
.slide {
  padding: 1%;
  border-right: 1px solid black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003216}}
.testimonials {
  width: 44.44444%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003219}}
.testimonials h1 {
  margin: 0, 0, 10px, 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003223}}
.testimonials ul, .testimonials p {
  list-style-type: none;
  display: inline-block;
  margin: 10px 0 10px 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003231}}
.q-l-c {
  margin-top: -25px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003235}}
.contact-phone a {
  color: #CC0000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003239}}
.contact-phone:before {
  content: "Phone number: ";
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003244}}
.contact-email {
  color: #CC0000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003248}}
.contact-email:before {
  content: "E-mail: ";
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003253}}
.thumbnail-wrap {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  padding: 2% 0 2% 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003261}}
.portfolio-thumbnail {
  background-color: #ffdeb5;
  padding: 2px;
  height: 200px;
  width: 300px;
  border: 1px;
  display: inline-block;
  opacity: 0.95;
  margin: 3% 5% 3% 5%;
  vertical-align: top;
  text-align: left;
  -moz-box-shadow: 0px 10px 47px black;
  -webkit-box-shadow: 0px 10px 47px black;
  box-shadow: 0px 10px 47px black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: black;
  -webkit-filter: grayscale(100%);
  -webkit-animation: colortoblack;
  -webkit-animation-duration: .5s;
  -webkit-animation-timing-function: ease-in;
  -webkit-filter: grayscale(100%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003283}}
.portfolio-thumbnail span {
  font-family: "Josefin Sans", sans-serif;
  font-size: 36px;
  text-align: left;
  position: absolute;
  display: block;
  margin-top: -15px;
  text-shadow: 0px 2px 11px #ffe3ba;
  -webkit-animation: margin-slide-down;
  /*==============Span slides down onload and*/
  -webkit-animation-duration: 1s;
  /*===============when :hover is not activated*/
  -webkit-animation-timing-function: ease-out;
  -moz-animation: margin-slide-down;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: ease-out;
  -o-animation: margin-slide-down;
  -o-animation-duration: 1s;
  -o-animation-timing-function: ease-out;
  animation: margin-slide-down;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  color: #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003304}}
.portfolio-thumbnail img {
  height: 100%;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003312}}
-webkit-keyframes colortoblack from {
  -webkit-filter: grayscale(0%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003316}}
-webkit-keyframes colortoblack to {
  -webkit-filter: grayscale(100%);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003323}}
.portfolio-thumbnail:hover {
  opacity: 1;
  -moz-box-shadow: 0px 10px 54px black;
  -webkit-box-shadow: 0px 10px 54px black;
  box-shadow: 0px 10px 54px black;
  -webkit-animation: blacktocolor;
  -webkit-animation-duration: .5s;
  -webkit-animation-timing-function: ease-in;
  -webkit-filter: grayscale(0%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003333}}
.portfolio-thumbnail:hover:hover > span {
  -webkit-animation: margin-slide;
  -webkit-animation-duration: .5s;
  -webkit-animation-timing-function: ease-out;
  -moz-animation: margin-slide;
  -moz-animation-duration: .5s;
  -moz-animation-timing-function: ease-out;
  -o-animation: margin-slide;
  -o-animation-duration: .5s;
  -o-animation-timing-function: ease-out;
  animation: margin-slide;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  margin-top: -250px;
  color: #CC0000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003351}}
.tix-wrap, .price-tix {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003357}}
.tix-wrap {
  background-image: url("/images/dev-images/norwegian_rose.png");
  -moz-box-shadow: inset 1px 4px 16px #2e2e2e;
  -webkit-box-shadow: inset 1px 4px 16px #2e2e2e;
  box-shadow: inset 1px 4px 16px #2e2e2e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003364}}
.price-tix {
  background-image: url("/images/dev-images/pattern-bv5m.png");
  max-width: 450px;
  min-width: 300px;
  margin-top: 4%;
  margin-bottom: 4%;
  display: inline-block;
  padding: 0 0 25px;
  -moz-box-shadow: 0px 10px 47px black;
  -webkit-box-shadow: 0px 10px 47px black;
  box-shadow: 0px 10px 47px black;
  z-index: 1;
  position: relative;
  vertical-align: bottom;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003379}}
.price-tix h1 {
  background: #c1bca8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #c1bca8 0%, #c1ac59 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c1bca8), color-stop(100%, #c1ac59));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #c1bca8 0%, #c1ac59 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #c1bca8 0%, #c1ac59 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #c1bca8 0%, #c1ac59 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #c1bca8 0%, #c1ac59 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1bca8', endColorstr='#c1ac59',GradientType=0 );
  /* IE6-9 */
  padding: 0 10px 0 10px;
  text-transform: capitalize;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: black;
  margin: 0 0 10px 0;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003399}}
#newborn-tix {
  margin-top: 2em;
  margin-right: -2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003404}}
#senior-tix {
  z-index: 2;
  -moz-box-shadow: 0px 10px 10px black;
  -webkit-box-shadow: 0px 10px 10px black;
  box-shadow: 0px 10px 10px black;
  min-height: 450px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003412}}
#weddings-tix {
  z-index: 2;
  -moz-box-shadow: 0px 10px 10px black;
  -webkit-box-shadow: 0px 10px 10px black;
  box-shadow: 0px 10px 10px black;
  min-height: 450px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003420}}
#couples-tix {
  margin-top: 2em;
  margin-left: -2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003425}}
#golden-tix {
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003429}}
#couples-tix h1, #newborn-tix h1 {
  background: #f9f9f9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9f9f9 0%, #828282 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #828282));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #828282 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9f9f9 0%, #828282 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9f9f9 0%, #828282 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f9f9f9 0%, #828282 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#828282',GradientType=0 );
  /* IE6-9 */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003441}}
.list, .list h1, .list h2, .list h5 {
  margin: 10px 0 0 0;
  list-style-type: none;
  padding: 0 5%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003446}}
.list .total, .list h1 .total, .list h2 .total, .list h5 .total {
  border-top: 1px solid black;
  padding-top: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003453}}
.clear-fix {
  clear: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003457}}
.after-gallery {
  background-image: url("/images/dev-images/pattern-bv5m.png");
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: black;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  text-align: left;
  padding: 20px;
  -moz-box-shadow: inset 1px 4px 16px #2e2e2e;
  -webkit-box-shadow: inset 1px 4px 16px #2e2e2e;
  box-shadow: inset 1px 4px 16px #2e2e2e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003466}}
.after-gallery h1 {
  font-size: 32px;
  text-transform: capitalize;
  margin: 0 0 10px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003473}}
.contact, .how {
  background-image: url("/images/dev-images/pattern-bv5m.png");
  font-family: "Josefin Sans", sans-serif;
  float: left;
  width: 500px;
  margin: 2% 2%;
  padding: 1%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: black;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003485}}
.contact h2, .how h2 {
  text-transform: capitalize;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003489}}
.contact p, .how p {
  font-size: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003494}}
.top-input {
  display: block;
  margin: 0.5% 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003499}}
.required:after {
  content: "*";
  color: red;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003504}}
#submit {
  background: #6d0019;
  background: -moz-linear-gradient(top, #6d0019 0%, #8f0222 56%, #a90329 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6d0019), color-stop(56%, #8f0222), color-stop(100%, #a90329));
  background: -webkit-linear-gradient(top, #6d0019 0%, #8f0222 56%, #a90329 100%);
  background: -o-linear-gradient(top, #6d0019 0%, #8f0222 56%, #a90329 100%);
  background: -ms-linear-gradient(top, #6d0019 0%, #8f0222 56%, #a90329 100%);
  background: linear-gradient(to bottom, #6d0019 0%, #8f0222 56%, #a90329 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d0019', endColorstr='#a90329',GradientType=0 );
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: black;
  margin-top: .5%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003519}}
#submit:hover {
  background: #a90329;
  background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a90329), color-stop(44%, #8f0222), color-stop(100%, #6d0019));
  background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -o-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -ms-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003531}}
:required {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003537}}
.foot {
  color: #CC0000;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  text-align: center;
  position: relative;
  background-image: url("/images/dev-images/debut_dark.png");
  min-height: 50px;
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003548}}
.bottom-nav {
  word-spacing: 15px;
  text-transform: capitalize;
  font-family: "Josefin Sans", sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003555}}
.t-handle, .t-handle a {
  color: #CC0000;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003563}}
.t-handle:before {
  content: "Design by: ";
  color: #fff;
  font-size: 24px;
}

/*===============================animations======================*/
@-webkit-keyframes blacktocolor {
  /* line 573, ../sass/style.scss */
  from {
    -webkit-filter: grayscale(100%);
  }

  /* line 577, ../sass/style.scss */
  to {
    -webkit-filter: grayscale(0%);
  }
}

@-webkit-keyframes margin-slide {
  /* line 588, ../sass/style.scss */
  from {
    margin-top: -15px;
  }

  /* line 592, ../sass/style.scss */
  to {
    margin-top: -250px;
  }
}

@-moz-keyframes margin-slide {
  /* line 600, ../sass/style.scss */
  from {
    margin-top: -15px;
  }

  /* line 604, ../sass/style.scss */
  to {
    margin-top: -250px;
  }
}

@-o-keyframes margin-slide {
  /* line 610, ../sass/style.scss */
  from {
    margin-top: -15px;
  }

  /* line 614, ../sass/style.scss */
  to {
    margin-top: -250px;
  }
}

@keyframes margin-slide {
  /* line 620, ../sass/style.scss */
  from {
    margin-top: -15px;
  }

  /* line 624, ../sass/style.scss */
  to {
    margin-top: -250px;
  }
}

@-webkit-keyframes margin-slide-down {
  /* line 633, ../sass/style.scss */
  from {
    margin-top: -250px;
  }

  /* line 637, ../sass/style.scss */
  to {
    margin-top: -15px;
  }
}

@-moz-keyframes margin-slide-down {
  /* line 644, ../sass/style.scss */
  from {
    margin-top: -250px;
  }

  /* line 648, ../sass/style.scss */
  to {
    margin-top: -15px;
  }
}

@-o-keyframes margin-slide-down {
  /* line 655, ../sass/style.scss */
  from {
    margin-top: -250px;
  }

  /* line 659, ../sass/style.scss */
  to {
    margin-top: -15px;
  }
}

@keyframes margin-slide-down {
  /* line 666, ../sass/style.scss */
  from {
    margin-top: -250px;
  }

  /* line 670, ../sass/style.scss */
  to {
    margin-top: -15px;
  }
}

/*=========================Media Queries====================*/
@media all and (max-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003682}}
  header {
    text-align: center;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003685}}
  #top-nav {
    float: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matt\/Sites\/fe-photography\/sass\/style\.scss}line{font-family:\00003688}}
  #golden-tix {
    display: inline-block;
  }
}
