/*variables*/
/* line 6, ../sass/style.scss */
a {
  color: #CC0000;
  text-decoration: none;
}
/* line 9, ../sass/style.scss */
a:visited {
  color: #CC0000;
}
/* line 13, ../sass/style.scss */
a:hover {
  color: #cc0000 !important;
}
/* line 17, ../sass/style.scss */
a:active {
  color: #cc0000 !important;
}

@font-face {
  font-family: DancingScript;
  src: url("/fonts/Dancing-Script.otf");
  src: url("/fonts/Dancing-Script.ttf");
  font-weight: 200;
}

@font-face {
  font-family: ElegantHandwriting;
  src: url("/fonts/elegant/JandaElegantHandwriting.ttf");
  font-weight: normal;
}

/* line 36, ../sass/style.scss */
p {
  margin: 0;
}

/* line 40, ../sass/style.scss */
body {
  margin: 0;
}

/* line 45, ../sass/style.scss */
.container {
  background-image: url("/images/dev-images/bedge_grunge.png");
  height: auto;
  font-weight: normal;
}

/* line 51, ../sass/style.scss */
header {
  height: auto;
}

/* line 55, ../sass/style.scss */
.signature {
  font-family: "Allura", cursive;
  font-size: 50px;
  font-weight: normal;
  display: inline;
}

/* line 62, ../sass/style.scss */
#top-nav {
  float: right;
  margin-right: 5%;
  display: inline-block;
}

/* line 68, ../sass/style.scss */
.tns {
  font-family: "Allura", cursive;
  font-size: 50px;
  text-decoration: none;
  color: black !important;
  height: 30px;
  width: 40px;
  margin-right: 15px;
}

/* line 80, ../sass/style.scss */
.tns:nth-child(4) {
  border: none;
  margin: 0;
}

/* line 85, ../sass/style.scss */
.main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  max-width: 100%;
  min-height: 800px;
  text-align: center;
  font-family: "Allura", cursive;
  clear: both;
}

/* line 96, ../sass/style.scss */
.quick-look-wrap {
  margin: 2% 0 0 0;
  background-image: url("/images/dev-images/pattern-bv5m.png");
  -moz-box-shadow: inset 1px 4px 16px #2e2e2e;
  -webkit-box-shadow: inset 1px 4px 16px #2e2e2e;
  box-shadow: inset 1px 4px 16px #2e2e2e;
  text-align: center;
}

/* line 105, ../sass/style.scss */
.quick-look {
  margin-left: 2%;
  margin-right: 2%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-size: 24px !important;
  padding: 15px;
  border-radius: 5px;
}
/* line 115, ../sass/style.scss */
.quick-look .signature {
  font-family: "Allura", cursive;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  font-size: 54px;
  display: inline-block;
  margin: 5px;
}
/* line 123, ../sass/style.scss */
.quick-look h1 {
  margin-bottom: 0.5em !important;
}

/* line 128, ../sass/style.scss */
.testimonials {
  font-size: 28px;
  max-width: 400px;
}
/* line 132, ../sass/style.scss */
.testimonials h1 {
  margin: 0, 0, 10px, 0;
}
/* line 136, ../sass/style.scss */
.testimonials ul, .testimonials p {
  list-style-type: none;
  display: inline-block;
  margin: 10px 0 10px 0;
  padding: 0;
}

/* line 144, ../sass/style.scss */
.q-l-c {
  margin-top: -25px;
}

/* line 148, ../sass/style.scss */
.contact-phone a {
  color: #CC0000;
}

/* line 152, ../sass/style.scss */
.contact-phone:before {
  content: "Phone number: ";
  color: black;
}

/* line 157, ../sass/style.scss */
.contact-email {
  color: #CC0000;
}

/* line 161, ../sass/style.scss */
.contact-email:before {
  content: "E-mail: ";
  color: black;
}

/* line 166, ../sass/style.scss */
.thumbnail-wrap {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  padding: 2% 0 2% 0;
}

/* line 174, ../sass/style.scss */
.portfolio-thumbnail {
  background-color: #ffdeb5;
  padding: 2px;
  height: 200px;
  width: 300px;
  border: 1px;
  display: inline-block;
  opacity: 0.95;
  margin: 3% 5% 3% 5%;
  vertical-align: top;
  text-align: left;
  -moz-box-shadow: 0px 10px 47px black;
  -webkit-box-shadow: 0px 10px 47px black;
  box-shadow: 0px 10px 47px black;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-filter: grayscale(100%);
  -webkit-animation: colortoblack;
  -webkit-animation-duration: .5s;
  -webkit-animation-timing-function: ease-in;
  -webkit-filter: grayscale(100%);
}

/* line 197, ../sass/style.scss */
.portfolio-thumbnail span {
  font-size: 36px;
  font-family: "Allura", cursive;
  position: absolute;
  display: block;
  margin-top: -15px;
  text-shadow: 0px 2px 11px #ffe3ba;
  -webkit-animation: margin-slide-down;
  /*==============Span slides down onload and*/
  -webkit-animation-duration: 1s;
  /*===============when :hover is not activated*/
  -webkit-animation-timing-function: ease-out;
  -moz-animation: margin-slide-down;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: ease-out;
  -o-animation: margin-slide-down;
  -o-animation-duration: 1s;
  -o-animation-timing-function: ease-out;
  animation: margin-slide-down;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  color: #000;
}

/* line 219, ../sass/style.scss */
.portfolio-thumbnail img {
  height: 100%;
  width: 100%;
}

@-webkit-keyframes colortoblack {
  /* line 226, ../sass/style.scss */
  from {
    -webkit-filter: grayscale(0%);
  }

  /* line 230, ../sass/style.scss */
  to {
    -webkit-filter: grayscale(100%);
  }
}

/* line 237, ../sass/style.scss */
.portfolio-thumbnail:hover {
  opacity: 1;
  -moz-box-shadow: 0px 10px 54px black;
  -webkit-box-shadow: 0px 10px 54px black;
  box-shadow: 0px 10px 54px black;
  -webkit-animation: blacktocolor;
  -webkit-animation-duration: .5s;
  -webkit-animation-timing-function: ease-in;
  -webkit-filter: grayscale(0%);
}

/* line 248, ../sass/style.scss */
.portfolio-thumbnail:hover > span {
  -webkit-animation: margin-slide;
  -webkit-animation-duration: .5s;
  -webkit-animation-timing-function: ease-out;
  -moz-animation: margin-slide;
  -moz-animation-duration: .5s;
  -moz-animation-timing-function: ease-out;
  -o-animation: margin-slide;
  -o-animation-duration: .5s;
  -o-animation-timing-function: ease-out;
  animation: margin-slide;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  margin-top: -250px;
  color: #CC0000;
}

/* line 264, ../sass/style.scss */
.tix-wrap {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* line 269, ../sass/style.scss */
.price-tix {
  background-image: url("/images/dev-images/pattern-bv5m.png");
  max-width: 450px;
  min-width: 300px;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
  display: inline-block;
  padding-bottom: 25px;
  -moz-box-shadow: 0px 10px 47px black;
  -webkit-box-shadow: 0px 10px 47px black;
  box-shadow: 0px 10px 47px black;
  z-index: 1;
  position: relative;
  vertical-align: bottom;
  -webkit-border-radius: 5px;
  moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 289, ../sass/style.scss */
.price-tix h1 {
  background: #c1bca8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #c1bca8 0%, #c1ac59 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c1bca8), color-stop(100%, #c1ac59));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #c1bca8 0%, #c1ac59 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #c1bca8 0%, #c1ac59 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #c1bca8 0%, #c1ac59 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #c1bca8 0%, #c1ac59 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1bca8', endColorstr='#c1ac59',GradientType=0 );
  /* IE6-9 */
  display: block;
  padding: 0 10px 0 10px;
  text-transform: capitalize;
  text-align: center;
  -webkit-border-radius: 5px;
  moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 0 10px 0;
}

/* line 310, ../sass/style.scss */
#newborn-tix {
  margin-top: 2em;
  margin-right: -2em;
}

/* line 315, ../sass/style.scss */
#senior-tix {
  z-index: 2;
  -moz-box-shadow: 0px 10px 10px black;
  -webkit-box-shadow: 0px 10px 10px black;
  box-shadow: 0px 10px 10px black;
  min-height: 450px;
}

/* line 323, ../sass/style.scss */
#weddings-tix {
  z-index: 2;
  -moz-box-shadow: 0px 10px 10px black;
  -webkit-box-shadow: 0px 10px 10px black;
  box-shadow: 0px 10px 10px black;
  min-height: 450px;
}

/* line 331, ../sass/style.scss */
#couples-tix {
  margin-top: 2em;
  margin-left: -2em;
}

/* line 336, ../sass/style.scss */
#golden-tix {
  display: inline-block;
}

/* line 340, ../sass/style.scss */
#couples-tix h1, #newborn-tix h1 {
  background: #f9f9f9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9f9f9 0%, #828282 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #828282));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #828282 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9f9f9 0%, #828282 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9f9f9 0%, #828282 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f9f9f9 0%, #828282 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#828282',GradientType=0 );
  /* IE6-9 */
}

/* line 352, ../sass/style.scss */
.list, .list h1, .list h3, .list h5 {
  margin: 10px 0 0 0;
  list-style-type: none;
  padding: 0;
}

/* line 359, ../sass/style.scss */
.clear-fix {
  clear: both;
}

/* line 363, ../sass/style.scss */
.after-gallery {
  background-image: url("/images/dev-images/pattern-bv5m.png");
  border-radius-top: 3px;
  text-align: left;
  font-size: 28px;
  padding: 20px;
  -moz-box-shadow: inset 1px 4px 16px #2e2e2e;
  -webkit-box-shadow: inset 1px 4px 16px #2e2e2e;
  box-shadow: inset 1px 4px 16px #2e2e2e;
}

/* line 374, ../sass/style.scss */
.after-gallery h1 {
  font-size: 32px;
  text-transform: capitalize;
  margin: 0 0 10px 0;
}

/* line 380, ../sass/style.scss */
.webform {
  height: 800px;
  width: 400px;
  background-color: #ffdeb5;
  display: block;
  border: 1px solid black;
}

/* line 388, ../sass/style.scss */
.webform span {
  display: inline-block;
}

/* line 392, ../sass/style.scss */
textarea {
  resize: none;
  height: 25px;
  width: 300px;
  vertical-align: middle;
}

/* line 399, ../sass/style.scss */
.foot {
  color: #CC0000;
  font-family: "Allura", cursive;
  font-size: 24px;
  text-align: center;
  position: relative;
  background-image: url("/images/dev-images/debut_dark.png");
  min-height: 50px;
  margin-bottom: 0;
}

/* line 410, ../sass/style.scss */
.bottom-nav {
  word-spacing: 15px;
  text-transform: capitalize;
  font-family: "Allura", cursive;
}

/* line 416, ../sass/style.scss */
.bottom-nav a:hover {
  word-spacing: 25px;
  font-size: 28px;
}

/* line 421, ../sass/style.scss */
.t-handle, .t-handle a {
  color: #CC0000;
  margin: 0;
  font-family: "Allura", cursive;
  font-size: 24px;
}

/* line 429, ../sass/style.scss */
.t-handle:before {
  content: "Design by: ";
  color: #fff;
  font-size: 24px;
}

/*===============================animations======================*/
@-webkit-keyframes blacktocolor {
  /* line 439, ../sass/style.scss */
  from {
    -webkit-filter: grayscale(100%);
  }

  /* line 443, ../sass/style.scss */
  to {
    -webkit-filter: grayscale(0%);
  }
}

@-webkit-keyframes margin-slide {
  /* line 454, ../sass/style.scss */
  from {
    margin-top: -15px;
  }

  /* line 458, ../sass/style.scss */
  to {
    margin-top: -250px;
  }
}

@-moz-keyframes margin-slide {
  /* line 466, ../sass/style.scss */
  from {
    margin-top: -15px;
  }

  /* line 470, ../sass/style.scss */
  to {
    margin-top: -250px;
  }
}

@-o-keyframes margin-slide {
  /* line 476, ../sass/style.scss */
  from {
    margin-top: -15px;
  }

  /* line 480, ../sass/style.scss */
  to {
    margin-top: -250px;
  }
}

@keyframes margin-slide {
  /* line 486, ../sass/style.scss */
  from {
    margin-top: -15px;
  }

  /* line 490, ../sass/style.scss */
  to {
    margin-top: -250px;
  }
}

@-webkit-keyframes margin-slide-down {
  /* line 499, ../sass/style.scss */
  from {
    margin-top: -250px;
  }

  /* line 503, ../sass/style.scss */
  to {
    margin-top: -15px;
  }
}

@-moz-keyframes margin-slide-down {
  /* line 510, ../sass/style.scss */
  from {
    margin-top: -250px;
  }

  /* line 514, ../sass/style.scss */
  to {
    margin-top: -15px;
  }
}

@-o-keyframes margin-slide-down {
  /* line 521, ../sass/style.scss */
  from {
    margin-top: -250px;
  }

  /* line 525, ../sass/style.scss */
  to {
    margin-top: -15px;
  }
}

@keyframes margin-slide-down {
  /* line 532, ../sass/style.scss */
  from {
    margin-top: -250px;
  }

  /* line 536, ../sass/style.scss */
  to {
    margin-top: -15px;
  }
}

/*=========================Media Queries====================*/
@media all and (max-width: 1200px) {
  /* line 548, ../sass/style.scss */
  header {
    text-align: center;
  }

  /* line 551, ../sass/style.scss */
  #top-nav {
    float: none;
  }

  /* line 554, ../sass/style.scss */
  #golden-tix {
    display: inline-block;
  }
}
